In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("ready_dataset_fromStep3.csv")

In [28]:
df.head(2)

,ethnicity_race,applicant_sex,applicant_age,income,income_class,loan_to_value_ratio,debt_to_income_ratio,loan_amount,property_value,interest_rate
0,White,Female,25-34,228000.0,Upper,76.471,30-40,655000.0,865000.0,5.000
1,White,Male,35-44,158000.0,Upper,90.000,40-50,785000.0,875000.0,5.375

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5339686 entries, 0 to 5339685
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   ethnicity_race        object
 1   applicant_sex         object
 2   applicant_age         object
 3   income                float64
 4   income_class          object
 5   loan_to_value_ratio   float64
 6   debt_to_income_ratio  object
 7   loan_amount           float64
 8   property_value        float64
 9   interest_rate         float64
dtypes: float64(5), object(5)
memory usage: 407.4+ MB

<hr>

# Selection

* 3 age groups: 25-34, 35-44, 45-54

* 4 income classes: lower-middle, middle, upper-middle, upper

* 4 ethnicities: white, asian, hispanic, black

<hr>

# Age groups

In [30]:
df = df[
    (df['applicant_age'] == '25-34') | (df['applicant_age'] == '35-44') | (df['applicant_age'] == '45-54')
]

In [31]:
selected_age_order = [
    '25-34', '35-44', '45-54'
]

df['applicant_age'] = pd.Categorical(
    df['applicant_age'],
    categories=selected_age_order,
    ordered=True
)

In [32]:
df['applicant_age'].value_counts()

applicant_age
25-34    1953577
35-44    1598332
45-54     950793
Name: count, dtype: int64

<hr>

# Income groups

In [33]:
df = df[
    (df['income_class'] == 'Lower-middle') | (df['income_class'] == 'Middle') | (df['income_class'] == 'Upper-middle') | (df['income_class'] == 'Upper')
]

In [34]:
selected_income_order = [
    'Lower-middle', 'Middle', 'Upper-middle', 'Upper'
]

df['income_class'] = pd.Categorical(
    df['income_class'],
    categories=selected_income_order,
    ordered=True
)

In [35]:
df['income_class'].value_counts()

income_class
Upper-middle    1395212
Middle          1015419
Upper            992247
Lower-middle     424657
Name: count, dtype: int64

<hr>

# Ethnicity groups

In [36]:
df = df[
    (df['ethnicity_race'] == 'Asian') | (df['ethnicity_race'] == 'White') | (df['ethnicity_race'] == 'Hispanic or Latino') | (df['ethnicity_race'] == 'Black or African American')
]

In [37]:
df['ethnicity_race'].value_counts()

ethnicity_race
White                        2514999
Hispanic or Latino            508841
Asian                         472766
Black or African American     240018
Name: count, dtype: int64

<hr>

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3736624 entries, 0 to 5339684
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   ethnicity_race        object
 1   applicant_sex         object
 2   applicant_age         category
 3   income                float64
 4   income_class          category
 5   loan_to_value_ratio   float64
 6   debt_to_income_ratio  object
 7   loan_amount           float64
 8   property_value        float64
 9   interest_rate         float64
dtypes: category(2), float64(5), object(3)
memory usage: 263.7+ MB

In [39]:
df.to_csv('../Step5/final_dataset_fromStep4.csv', index=False)