In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ready_dataset_fromStep3.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5350021 entries, 0 to 5350020
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   ethnicity_race        object
 1   applicant_sex         object
 2   applicant_age         object
 3   income                float64
 4   loan_to_value_ratio   float64
 5   debt_to_income_ratio  object
 6   loan_amount           float64
 7   property_value        float64
 8   interest_rate         float64
dtypes: float64(5), object(4)
memory usage: 367.4+ MB

In [5]:
df.head()

,ethnicity_race,applicant_sex,applicant_age,income,loan_to_value_ratio,debt_to_income_ratio,loan_amount,property_value,interest_rate
0,White,Female,25-34,228.0,76.471,30-40,655000.0,865000.0,5.000
1,White,Male,35-44,158.0,90.000,40-50,785000.0,875000.0,5.375
2,White,Female,25-34,194.0,80.000,40-50,705000.0,895000.0,6.500
3,White,Female,25-34,125.0,67.073,40-50,555000.0,825000.0,4.375
4,White,Female,25-34,179.0,80.000,40-50,585000.0,735000.0,3.875