In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("selected_features_dataset_fromStep2.csv")

/var/folders/v5/853tm03d4ds4l0z_4qjrndh40000gn/T/ipykernel_2964/1279354159.py:1: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("selected_features_dataset_fromStep2.csv")

In [3]:
df.shape

(7059354, 18)

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
df.head()

,derived_ethnicity,derived_race,derived_sex,loan_amount,loan_to_value_ratio,interest_rate,total_loan_costs,property_value,income,debt_to_income_ratio,applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity_observed,applicant_race-1,applicant_race_observed,applicant_sex,applicant_sex_observed,applicant_age
0,Not Hispanic or Latino,White,Female,655000.0,76.471,5.0,8966.72,865000.0,228.0,30%-<36%,2,2.0,2,5.0,2,2,2,25-34
1,Not Hispanic or Latino,White,Joint,785000.0,90.0,5.375,9895.94,875000.0,158.0,42,3,2.0,2,5.0,2,1,2,35-44
2,Not Hispanic or Latino,White,Female,515000.0,80.0,3.375,4925.59,645000.0,105.0,NaN,2,2.0,2,5.0,2,2,2,25-34
3,Joint,White,Joint,705000.0,80.0,6.5,5976.0,895000.0,194.0,41,9,2.0,2,5.0,2,2,2,25-34
4,Not Hispanic or Latino,White,Female,305000.0,34.884,3.75,4445.0,865000.0,230.0,NaN,9,2.0,2,5.0,2,2,2,25-34