<hr>

# README

* Please unzip file "df_trimmed.csv.zip" first before reading the file using pandas!

* Reason: the file size is 5.58 GB, it cannot be pushed to GitHub Repository even with GitHub Large File Storage (LFS) (limit 5.0 GB)

* Note: 'df_trimmed.csv' is included in .gitignore to prevent the file being pushed in the future.

<hr>

# FEATURES (Data definition):

https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields

<hr>

# DATASET & LIBRARIES

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("df_trimmed.csv")

/var/folders/v5/853tm03d4ds4l0z_4qjrndh40000gn/T/ipykernel_74596/3250664552.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,77,78,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("df_trimmed.csv")

In [4]:
df.shape

(14481639, 99)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14481639 entries, 0 to 14481638
Data columns (total 99 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   activity_year                             int64
 1   lei                                       object
 2   derived_msa-md                            int64
 3   state_code                                object
 4   county_code                               float64
 5   census_tract                              float64
 6   conforming_loan_limit                     object
 7   derived_loan_product_type                 object
 8   derived_dwelling_category                 object
 9   derived_ethnicity                         object
 10  derived_race                              object
 11  derived_sex                               object
 12  action_taken                              int64
 13  purchaser_type                            int64
 14  preapproval                               int64
 15  loan_type                                 int64
 16  loan_purpose                              int64
 17  lien_status                               int64
 18  reverse_mortgage                          int64
 19  open-end_line_of_credit                   int64
 20  business_or_commercial_purpose            int64
 21  loan_amount                               float64
 22  loan_to_value_ratio                       object
 23  interest_rate                             object
 24  rate_spread                               object
 25  hoepa_status                              int64
 26  total_loan_costs                          object
 27  total_points_and_fees                     object
 28  origination_charges                       object
 29  discount_points                           object
 30  lender_credits                            object
 31  loan_term                                 object
 32  prepayment_penalty_term                   object
 33  intro_rate_period                         object
 34  negative_amortization                     int64
 35  interest_only_payment                     int64
 36  balloon_payment                           int64
 37  other_nonamortizing_features              int64
 38  property_value                            object
 39  construction_method                       int64
 40  occupancy_type                            int64
 41  manufactured_home_secured_property_type   int64
 42  manufactured_home_land_property_interest  int64
 43  total_units                               object
 44  multifamily_affordable_units              object
 45  income                                    float64
 46  debt_to_income_ratio                      object
 47  applicant_credit_score_type               int64
 48  co-applicant_credit_score_type            int64
 49  applicant_ethnicity-1                     float64
 50  applicant_ethnicity-2                     float64
 51  applicant_ethnicity-3                     float64
 52  applicant_ethnicity-4                     float64
 53  applicant_ethnicity-5                     float64
 54  co-applicant_ethnicity-1                  float64
 55  co-applicant_ethnicity-2                  float64
 56  co-applicant_ethnicity-3                  float64
 57  co-applicant_ethnicity-4                  float64
 58  co-applicant_ethnicity-5                  float64
 59  applicant_ethnicity_observed              int64
 60  co-applicant_ethnicity_observed           int64
 61  applicant_race-1                          float64
 62  applicant_race-2                          float64
 63  applicant_race-3                          float64
 64  applicant_race-4                          float64
 65  applicant_race-5                          float64
 66  co-applicant_race-1                       float64
 67  co-applicant_race-2                       float64
 68  co-applicant_race-3                       float64
 69  co-applicant_race-4                       float64
 70  co-applicant_race-5                       float64
 71  applicant_race_observed                   int64
 72  co-applicant_race_observed                int64
 73  applicant_sex                             int64
 74  co-applicant_sex                          int64
 75  applicant_sex_observed                    int64
 76  co-applicant_sex_observed                 int64
 77  applicant_age                             object
 78  co-applicant_age                          object
 79  applicant_age_above_62                    object
 80  co-applicant_age_above_62                 object
 81  submission_of_application                 int64
 82  initially_payable_to_institution          int64
 83  aus-1                                     int64
 84  aus-2                                     float64
 85  aus-3                                     float64
 86  aus-4                                     float64
 87  aus-5                                     float64
 88  denial_reason-1                           int64
 89  denial_reason-2                           float64
 90  denial_reason-3                           float64
 91  denial_reason-4                           float64
 92  tract_population                          int64
 93  tract_minority_population_percent         float64
 94  ffiec_msa_md_median_family_income         int64
 95  tract_to_msa_income_percentage            float64
 96  tract_owner_occupied_units                int64
 97  tract_one_to_four_family_homes            int64
 98  tract_median_age_of_housing_units         int64
dtypes: float64(33), int64(39), object(27)
memory usage: 10.7+ GB

In [6]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2022,254900ACUWEGW702BR80,35614,NY,36061.0,3.606102e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3607,36.57,99000,152.12,440,55,0
1,2022,254900ACUWEGW702BR80,35614,NY,36081.0,3.608107e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5687,55.57,99000,132.73,1769,597,65
2,2022,254900ACUWEGW702BR80,35154,NJ,34025.0,3.402581e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5135,19.57,128300,102.28,1416,1679,53
3,2022,254900ACUWEGW702BR80,35154,NJ,34029.0,3.402972e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4939,7.90,128300,62.91,685,997,40
4,2022,254900ACUWEGW702BR80,35004,NY,36059.0,3.605941e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,6132,68.15,146400,63.34,1073,1708,69

<hr>

# EXPLORATORY ANALYSIS (EDA)

In [ ]:
c